*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* global css style  */

.container{
    margin: 50px 100px 70px 101px;
}

/* greatest-show styles  */

.greatest-show{
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.greatest-show div{
    width: 50%;
}

.greatest-show-info{
    width: 100%;
    padding: 111px 24px 111px 106px;
}

.show-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
}

.show-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
}

.show-button{
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px solid #DD0000;
}

.show-button a{
    text-decoration: none;
    color: #fff;
}

.greatest-show-img{
    width: 100%;
    padding-top: 33px;
    padding-right: 25px;
}

.greatest-show-img img{
    width: 100%;
}


/* match-section styles  */

.match-blogs{
    display: grid;
    grid-template-columns: 180px repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 13px;
}

.side-bar{
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.match-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    justify-content: center;
    border-radius: 10px;
}

.side-bar .match-menu .match-menu-item{
    color: #161616;
    width: 160px;
    background-color: #fff;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-menu-item span{
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}

.match-live{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.059);
}

.match-live-image{
    width: 100%;
}

.match-live-button button{
    margin: 20px;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}


.match-live-title{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}

.match-live-info{
    display: flex;
    margin-left: 20px;
}

.match-live-info div{
    margin: 10px;
}

/* footer menu styles  */

footer{
    background-color: #161616;
    height: 300px;
}

.footer-container{
    margin: 50px 100px 70px 101px;
}


.footer-title h2{
    color: #fff;
    padding: 80px 0px 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}

hr{
    border: .1px solid rgba(255, 255, 255, 0.17);
}

.footer-menu{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 40px;
    color: #B9B9B9;
}